#app {
    width: 80%;
    margin: 0 auto; 
  }
  
  nav {
    display: flex;
    background-color: #ff6600;
    padding: 3px;
  }
  
  nav a {
    color: #000;
    text-decoration: none; 
  }
  
  .logo {
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
  }
  
  nav > ul {
    margin: 1px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }
  
  nav > ul > li{
    display: inline-block;
    margin-top: 2px;
    margin-right: 2px;
  }
  
  nav > ul > li:nth-child(n+2):nth-child(-n+6)::after {
    content: "|";
    margin-left: 5px;
  }
  
  #login {
    display: flex;
    float: right;
  }
  
  #content {
    background-color: #f6f6ef;
    display: flex;
  }

  #post a, ul {
    text-decoration: none;
    list-style-type: none;
    color: #000;
  }